body {
    margin: 0;
    color: #ddc7a1;
    font-family: "JetBrainsMono Nerd Font";
    background-color: #282828;
    text-align: center;
    overflow-x: hidden;
}

.header {
    background: #32302f;
    padding: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.container {
    max-width: 60rem;
    margin: 5vh auto;
    padding: 2rem;
    background-color: #32302f;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.slideshow-container {
    position: relative;
    margin: auto;
    overflow: hidden;
    max-width: 40%;
    border-radius: 15px;
}

/* Individual Slide */
.slide {
    display: none;
    width: 100%;
    animation: fade 1s ease-in-out;
}

.slide img {
    width: 100%;
    border-radius: 15px;
    border: 5px solid #d8a657;
}

/* Special Styling for Portrait Images */
.slide img.portrait {
    max-height: 600px;
}

/* Fade Animation */
@keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Navigation Buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}

.prev { left: 10px; }
.next { right: 10px; }

.dots-container {
    text-align: center;
    margin-top: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 4px;
    background-color: #d8a657;
    border-radius: 50%;
    display: inline-block;
}

.active, .dot:hover {
    background-color: #fb4934;
}
