/* navbar.css */

.navbar {
    position: sticky;
    top: 0;
    background-color: #3c3836;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

.navbar a {
    text-decoration: none;
    padding: 10px 20px;
    color: #ebdbb2;
    font-family: 'Fira Code', monospace;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #504945;
    color: #fabd2f;
}
